.container {
  min-height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
}
.number {
  font-size: 6rem;
  font-weight: bold;
  color: hsl(205, 77%, 27%);
}
.text {
  color: hsl(205, 77%, 27%);
  font-family: Roboto, sans-serif;
  font-size: 4rem;
}
.decrease,
.increase,
.reset {
  border: 2px solid hsl(205, 77%, 27%);
  font-size: 1rem;
  text-align: center;
  padding: 5px 30px;
  margin: 1rem;
  border-radius: 0.5rem;
  background: transparent;
  cursor: pointer;
}
.decrease:hover,
.increase:hover,
.reset:hover {
  background-color: #222;
  color: #fff;
}
